.IronButton {
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.53);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.53);
	background-image: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/ironpatern.png) !important;
}
.IronButton .body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.59) 0 0 6px 0 inset, rgba(255, 255, 255, 0.92) 0 1px 0 0 inset, rgba(255, 255, 255, 0.2) 0 0 5px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.59) 0 0 6px 0 inset, rgba(255, 255, 255, 0.92) 0 1px 0 0 inset, rgba(255, 255, 255, 0.2) 0 0 5px 0 inset;
	border-radius: 2px;
}
.IronButton .screw {
	position: absolute;
	width: 15px;
	height: 15px;
	background-image: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/skrew.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.IronButton .tl {
	left: 2px;
	top: 2px;
}
.IronButton .bl {
	bottom: 2px;
	left: 2px;
}
.IronButton .tr {
	right: 2px;
	top: 2px;
}
.IronButton .br {
	bottom: 2px;
	right: 2px;
}
