.button-remove {
  position: absolute;
  right: 12px;
  top: -38px;
  cursor: pointer;
  opacity: .4;
  transition: opacity .3s;

  svg {
    width: 28px;
    height: 28px;
    padding: 6px;
  }

  &:hover {
    opacity: 1;
  }
}
