.buttons
    each btn in buttons
        case btn.templatesButton
            when 'BasicButton'
                include buttons/BasicButton/index
            when 'ButtonThreeD'
                include buttons/ButtonThreeD/index
            when 'ButtonArrow'
                include buttons/ButtonArrow/index
            when 'ButtonArrowLeft'
                include buttons/ButtonArrowLeft/index
            when 'ButtonInnerShadow'
                include buttons/ButtonInnerShadow/index
            when 'ButtonLiftedShadow'
                include buttons/ButtonLiftedShadow/index
            when 'ShinyButtonInverted'
                include buttons/ShinyButtonInverted/index
            when 'ButtonShadowRight'
                include buttons/ButtonShadowRight/index
            when 'ButtonShadowLeft'
                include buttons/ButtonShadowLeft/index
            when 'TextOnlyButtonSkin'
                include buttons/TextOnlyButtonSkin/index
            when 'ShinyButtonISkin'
                include buttons/ShinyButtonISkin/index
            when 'ShinyButtonIISkin'
                include buttons/ShinyButtonIISkin/index
            when 'RibbonButton'
                include buttons/RibbonButton/index
            when 'CircleButton'
                include buttons/CircleButton/index
            when 'SloopyButton'
                include buttons/SloopyButton/index
            when 'IronButton'
                include buttons/IronButton/index
            when 'GamingButton'
                include buttons/GamingButton/index
            when 'ScotchTapeButton'
                include buttons/ScotchTapeButton/index
