@import '../../css/variables.global';

.logoPreview, .logoPreviewWithImg {
  position: relative;
  display: flex;
  width: $logo-size;
  height: $logo-size;
  border-radius: 50%;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}
.logoPreview {
  box-shadow: 0 0 2px rgba(0,0,0,0.5);

  svg {
    width: 35px;
    margin: 15px auto;
    fill: rgba(0, 0, 0, 0.3);
  }
}
.logoPreviewWithImg {
  overflow: hidden;

  img {
    height: $logo-size;
    margin: auto;
  }
}
.logoPreview span {
  display: inline-block !important;
  margin: auto;
}
.logoPreview span:before {
  font-size: 50px;
}
