.editor-mssg {
  margin-top: 10px;

  .select-wrapper {
    margin-bottom: 20px;

    select {
      width: 100%;
      height: 36px;
    }
  }

  .error-mssg {
    height: 24px;
    color: #ff000091;
  }

  .input-wrapper {
    padding: 5px;
    background: #cccccc52;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
      border: 1px solid #9e9e9e;
    }
  }
}
