.button {
  overflow: hidden;
  background: none !important;

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .top {
    border-bottom: 50px solid;
    bottom: 50% !important;
  }
  .bottom {
    border-top: 50px solid;
    top: 50% !important;
  }
}
.border {
  border-left: 50px solid transparent;
  border-right: 0;
  position: absolute;
  left: 0;
}
.body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50px;
}